.common-home {
  font-size: 16px;
  font-family: "Lato", "sans serif";
}

a {
  color: inherit;
}
.hero {
  height: 95vh;
  background: url("../image/hero.jpg") no-repeat;
  background-size: cover;
  width: 100%;
  z-index: -1;
  padding-top: 100px;
}
a:hover {
  color: inherit;
  text-decoration: none;
}

header {
  height: 95vh;
}
#logo h1 {
  margin: 0;
  color: white;
}

.search-area {
}

#search input, #search button{
  padding: 5px 10px;
  height: 40px;
  font-size: 16px;
  font-weight: 300;
  border: none;
  background: #f7f7f7;
}

#search button {
  color: rgb(73, 188, 199);
  padding: 10px 15px;;
  transition: background 0.1s;
}

#search button:hover {
  color: white;
  background: rgb(73, 188, 199);
}

#cart button {
  font-size: 16px;
  height: 40px;
  padding: 5px 10px;
  background: rgba(255, 255, 255, 0);
  border: 1px solid #49bcc7;
  color: white;
}


#top {
  position: absolute;
  background: rgba(34, 34, 34, 0.3);
  color: white;
  padding: 15px;
  font-weight: 300;
  border-bottom: 1px solid  rgb(73, 188, 199);
  width: 100%;
}

#top-links {
  margin-top: 5px;
}

#logo {
  font-family: "Quicksand";
}


footer {
  background: #222222;
  color: white;
  font-weight: 300;
}
